<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdBo4koe5koFUeUHqZPj6NvaKLQ-h6JM4</string>
	<key>GCM_SENDER_ID</key>
	<string>474645244163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aaaaaa</string>
	<key>PROJECT_ID</key>
	<string>aaaa-ee97d</string>
	<key>STORAGE_BUCKET</key>
	<string>aaaa-ee97d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474645244163:ios:b5a15028e31093549f2136</string>
</dict>
</plist>